header {
  margin: 10px 0;
  div.wrapper:first-child {
  }
  img#logo {
    width: 250px;
  }
  ul.header-menu {
    display: flex;
    li a {
      font-size: 12px;
    }
    li:first-child {
      margin-right: 5px;
      a {
        padding: 10px;
        color: #fff;
        &:first-child {
          background-color: #7abaff;
        }
      }
    }
    li:last-child {
      a {
        padding: 10px;
        color: #fff;
        &:first-child {
          background-color: #bd2130;
        }
      }
    }
  }
}

div.header-top {
  background-image: url("../images/header_01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 400px;
  &-inside {
    padding: 15px;
    width: 700px;
    background-color: rgba(255,255,255,0.4);
    h2 {
      padding: 0 5px;
      border-bottom: solid #000 1px;
      display: inline-block;
    }
    p {
      margin-top: 5px;
      padding: 5px;
      font-size: 12px;
    }
    a {
      margin-top: 5px;
      padding: 5px !important;
      width: 150px;
      font-size: 12px;
    }
  }
}